@font-face {
  font-family: "akzidenz-grotesk";
  src: url(../assets/fonts/AktivGrotesk_W_Bd.eot);
  src: url(../assets/fonts/AktivGrotesk_W_Bd.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/AktivGrotesk_W_Bd.woff2) format("woff2"), url(../assets/fonts/AktivGrotesk_W_Bd.woff) format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "akzidenz-grotesk";
  src: url(../assets/fonts/AktivGrotesk_W_MdIt.eot);
  src: url(../assets/fonts/AktivGrotesk_W_MdIt.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/AktivGrotesk_W_MdIt.woff2) format("woff2"), url(../assets/fonts/AktivGrotesk_W_MdIt.woff) format("woff");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "akzidenz-grotesk";
  src: url(../assets/fonts/AktivGrotesk_W_Md.eot);
  src: url(../assets/fonts/AktivGrotesk_W_Md.woff2) format("woff2"), url(../assets/fonts/AktivGrotesk_W_Md.woff2) format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
